
.sy-landingpage {
  @include media-breakpoint-up(sm) {
    background-image: url("../assets/images/test-circle.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 10%;
  }
}