.sy-section__content + .sy-section__content {
  margin-top: 30px;
}

.sy-headline {
  margin-bottom: 4px;
}

.sy-section__content {
}

.sy-legal .sy-list__item {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
}