.sy-services {
  margin-top: 60px;
}
.sy-services__headline {

  font-weight:  map-get($font-weights, bold);
}

.sy-services__item {
    display: block;
    margin: 0;

    background-repeat: no-repeat;
    background-size: auto auto;
    margin-bottom: 20px;

    margin-left: -$page-padding;
    margin-right: -$page-padding;
    padding-left: 20px;
    padding-right: 20px;

    &:nth-child(odd) {
      background-image: url("../assets/images/service-arrow.svg");
      background-position: right center;
      padding-right: 20%;
  }

    &:nth-child(even) {
      background-image: url("../assets/images/service-arrow-left.svg");
      background-position: left center;
      text-align: right;
      padding-left: 20%;
    }
}


.sy-services__item + .sy-services__item  {
  margin-top: 20px;
}