$max-page-width: 760px;
$container-max-widths: 1200px;

$grid-columns: 12;
$grid-gutter-width: 30px;
$grid-enable-classes: true;

$font-weights: (
  normal: 400,
  bold: 700
);

$colors: (
  white: #ffffff,
  brand: #5CCFE6,
  dark: #202840,
  black: #000000,
  error: #FF9999,
  success: #5ce6a1
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px
);

$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 576px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);

$page-padding: 20px;
$content-distance: 20px;