.sy-button {
  display: block;
  width: 100%;
  height: 50px;
  line-height:  50px;
  background-color: sycolor(brand);
  border: none;
  border-radius: 5px;
  font-size: 2rem;
  color: sycolor(dark);
  border : 2px solid transparent;
  cursor: pointer;

  &:hover, &:active, &:focus {
    background-color: sycolor(dark);
    color: sycolor(brand);
    border : 2px solid white;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}