.sy-footer {
  padding-bottom: 60px;
}

.sy-footer__weblinks {
  display: flex;
  justify-content: center;
}

.sy-footer__weblinks-item:not(:first-child) {
  margin-left: 20px;
}

.sy-footer__servicelinks {
  text-align: center;
}

.sy-footer__servicelinks-item:not(:first-child){
  margin-left: 20px;
}
