.sy-formgroup + .sy-formgroup {
  margin-top: 20px;
}

.sy-formfield {
  position: relative;
  align-items: center;
  background-color: rgba(sycolor(black), 0.2);
  border-radius: 5px;
  color: sycolor(white);
  border: 1px solid transparent;

  &.has-error {
    border: 1px solid sycolor(error);
  }
}

.sy-formfield__postfix {
  position: absolute;
  height: 100%;
  width: 50px;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sy-input {
  display: inline-block;
  width: 100%;
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 10px 20px;
  font-size: 1.5rem;

  &:focus {
    outline: 2px solid sycolor(brand);
  }

  &::placeholder {
    color: sycolor(brand);
  }

  &.has-error::placeholder {
    color: sycolor(error);
  }

  // overwrite autofill styles for webkit browsers
  // http://webagility.com/posts/the-ultimate-list-of-hacks-for-chromes-forced-yellow-background-on-autocompleted-inputs
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:active,
  &:-webkit-autofill:focus {
    -webkit-transition-delay: 99999s;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.sy-input[type="text"],
.sy-input[type="email"] {
  line-height: 30px;
  padding-right: 50px;
}

textarea.sy-input {
  height: 150px;
}
