.sy-formgroup + .sy-formgroup {
  margin-top: 20px;
}

.sy-formfield {
  position: relative;
  align-items: center;
  background-color: rgba(sycolor(black), 0.2);
  border-radius: 5px;
  color: sycolor(white);
}

.sy-formfield__postfix {
  position: absolute;
  height: 100%;
  width: 50px;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 22px;
  }
}

.sy-input {
  display: inline-block;
  width: 100%;
  border: none;
  background-color: transparent;
  color: inherit;
  padding: 10px 18px;
  font-size: 1.5rem;
  border-radius: 5px;
  transition: box-shadow .2s ease;

  &:focus {
    box-shadow: 0 0 0 2px sycolor(brand);
    outline: none;
  }

  &::placeholder {
    color: sycolor(brand);
  }

  &.has-error::placeholder {
    color: sycolor(error);
  }

  &.has-error {
    box-shadow: 0 0 0 1px sycolor(error);
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.sy-input[type="text"],
.sy-input[type="email"] {
  line-height: 30px;
  padding-right: 50px;
}

textarea.sy-input {
  height: 150px;
}
