<div class="sy-main-container">

  <!-- header intro -->
  <a name='sy-01'></a>
  <div class="sy-section">
    <h2 class='sy-headline sy-headline--sub'>What we do</h2>
    <h1 class='sy-headline sy-headline--main'>What we do</h2>

      <h3 class='sy-headline sy-headline--text'>Full Stack Digital Servie</h1>
    <p class="sy-copy">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. A rerum quas asperiores sint magni adipisci sed laboriosam incidunt
      pariatur necessitatibus officiis illum labore, modi veniam quisquam dolores. Earum, ipsa animi!
    </p>
  </div>

  <a name='sy-02'></a>
  <div class="sy-section">
    <div class="sy-section">
      <h2 class='sy-headline sy-headline--sub'>Why us</h2>
      <h1 class='sy-headline sy-headline--main'>What we do</h2>
    </div>
  </div>

  <a name='sy-03'></a>
  <div class="sy-section">
    <h1 class='sy-headline sy-headline--text'>Meet us</h1>
  </div>

  <a name='sy-04'></a>
  <div class="sy-section">
    <h1 class='sy-headline sy-headline--text'>Contact</h1>
    <button class="sy-button">Send</button>
  </div>
</div>