<footer class="sy-footer sy-section">
  <div class="sy-section__content">
    <!-- <div class="sy-footer__weblinks">
      <img class="sy-footer__weblinks-item" alt="soial icon xing" src="../assets/images/icon-xing.svg"/>
      <img class="sy-footer__weblinks-item" alt="soial icon linkedin" src="../assets/images/icon-linkedin.svg"/>
      <img class="sy-footer__weblinks-item" alt="soial icon facebook" src="../assets/images/icon-facebook.svg"/>
      <img class="sy-footer__weblinks-item" alt="soial icon twitter" src="../assets/images/icon-twitter.svg"/>
    </div> -->
  </div>

  <div class="sy-section__content">
    <div class="sy-footer__servicelinks">
      <a href='/imprint.html' class="sy-footer__servicelinks-item sy-link">Impressum</a>
      <a href='/privacy.html' class="sy-footer__servicelinks-item sy-link">Datenschutz</a>
    </div>
  </div>
</footer>
