<div class="sy-meetups">
  <div class="sy-meetups__item">
    <div class="sy-meetups__date">
      <span class="sy-meetups__date-month">
        Apr
      </span>
      <span class="sy-meetups__date-day">
        22
      </span>
    </div>

    <div>
      <span>UX Meetup</span>
      <p>IXDS: Ipsum Dolor</p>
      <a href='#' class="sy-link">Details</a>
    </div>
  </div>

  <div class="sy-meetups__item">
    <div class="sy-meetups__date">
      <span class="sy-meetups__date-month">
        Apr
      </span>
      <span class="sy-meetups__date-day">
        22
      </span>
    </div>

    <div>
      <span>UX Meetup</span>
      <p>IXDS: Ipsum Dolor</p>
      <a href='#' class="sy-link">Details</a>
    </div>
  </div>
</div>