<section class="sy-section">
  <h2 class="sy-headline sy-headline--section">Office</h2>

  <div class="sy-section__content">
    <img class="sy-image" alt="" src="../assets/images/office-map.png">
    <div class="sy-spacer"></div>

    <div class="sy-layout sy-layout--two-cols">
      <div class="sy-column">
        <div class="sy-address">
          <strong>Satellytes GmbH</strong><br>
          Landwehrstraße 79a<br>
          80336 München<br>
          Tel. +49 89 45678912<br>
        </div>
      </div>

      <div class="sy-column">
          In Google Maps öffnen
      </div>
    </div>
  </div>
</section>