.sy-navigation {
  font-weight: 600;
  border-bottom: 1px solid rgba($color-highlight, 0.2);
  background-color: #fff;
  color: #202840;
  padding: 10px 10px 0 10px;

  position: sticky;
  top: 0;
  z-index: 1;
}

.sy-navigation__menu {
  display: flex;
  justify-content: space-around;
}

.sy-navigation__item {
  display: inline-block;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding-bottom: 20px;
}

.sy-navigation__item--curent {
  border-bottom-color: $color-highlight;
}

.sy-navigation__item:not(:first-child) {
  margin-left: 10px;
}