.sy-spacer {
  margin-bottom: 10px;
}

.sy-page {
  max-width: $max-page-width;
  margin: auto;
  padding: 0 $page-padding;
}

.sy-section {
  p + p {
    margin-top: $content-distance;
  }
}

.sy-section {
  margin-top: 60px;
}


.sy-section__content  + .sy-section__content {
  margin-top: 60px;
}

.sy-grid__row {
  @include make-row;
}

.sy-grid__col-6 {
  @include make-col-ready;
  @include make-col(12);

  @include media-breakpoint-up(md) {
    @include make-col(6);
  }
}


.sy-grid--two-cols {
  display: flex;

  .sy-column {
    width: 50%;
  }
  .sy-column:first-child {
    margin-right: 20px;
  }
}