.sy-section__content {
  transition: transform .1s ease, opacity .1s ease;
  transform: translateY(15px);
  opacity: 0.7;

  &.sy-section__content--visible {
    animation: .3s make-visible forwards;
  }

  @keyframes make-visible {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
