<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title || 'Webpack App'%></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>

<body>

  <section class="sy-section">
    <header class="sy-header">
      <h2 class="sy-headline sy-headline--section">What we do</h2>
      <span class="sy-header__tagline">We offer only what we’re truely great at ...</span>
    </header>

    <h3 class="sy-headline sy-headline--content">Full Stack Digital Services</h3>
    <p>
      Satellytes is an agency that orbits around large enterprises and helps them built the greatest possible services and interfaces. With a y, because it’s cooler and the i was obviously already taken decades ago.
    </p>

    <p>
      We offer full stack digital services, starting as soon as somebody has a notion of what could possibly be a good idea to do until the last funnel or line of code is completed and as beautifully peformant as it can be.
    </p>

    <%= require('html-loader!./partials/services.html') %>
  </section>



  <h2 class="sy-headline sy-headline--section">Meet us</h2>
</body>

</html>