<section class="sy-section sy-landingpage__meet">
  <a id="sy-contact" class="sy-anchor"></a>
  <h2 class="sy-headline sy-headline--section">Events</h2>

  <div class="sy-section__content">
    <p>
      Wir lieben es, Neues zu entdecken und neue Kontakte zu knüpfen. Dort sind wir demnächst:
    </p>

    <div class="sy-meetups">
      <div class="sy-meetups__item">
        <div class="sy-meetups__date">
          <span class="sy-meetups__date-month">
            Jul
          </span>
          <span class="sy-meetups__date-day">
            24
          </span>
        </div>

        <div>
          <span>DAHO.AM 18</span>
          <p> The Pure Tech Conference</p>
          <a href='https://daho.am/' target="_blank" class="sy-link">Details</a>
        </div>
      </div>
    </div>
    <p>
      Sie haben ein Event für uns, das wir nicht verpassen sollten?  Oder Sie hätten gerne, dass wir auf Ihrem einen Vortrag halten? Machen wir gerne.
      Schreiben Sie uns.
    </p>
  </div>
</section>
