<section class="sy-section sy-landingpage__meet" id="sy-meet">
  <h2 class="sy-headline sy-headline--section">Meet us</h2>

  <div class="sy-section__content">
    <p>
        We love learning an networking at meetups and conferences. Here’s what’s up next for us:
    </p>

    <div class="sy-meetups">
      <div class="sy-meetups__item">
        <div class="sy-meetups__date">
          <span class="sy-meetups__date-month">
            Apr
          </span>
          <span class="sy-meetups__date-day">
            22
          </span>
        </div>

        <div>
          <span>UX Meetup</span>
          <p>IXDS: Ipsum Dolor</p>
          <a href='#' class="sy-link">Details</a>
        </div>
      </div>

      <div class="sy-meetups__item">
        <div class="sy-meetups__date">
          <span class="sy-meetups__date-month">
            Apr
          </span>
          <span class="sy-meetups__date-day">
            22
          </span>
        </div>

        <div>
          <span>UX Meetup</span>
          <p>IXDS: Ipsum Dolor</p>
          <a href='#' class="sy-link">Details</a>
        </div>
      </div>
    </div>

    <p>
      You know a great event we should be at, too?
      <a href='#' class="sy-link">Send us a suggestion</a>
    </p>
  </div>
</section>