<section class="sy-section sy-landingpage__meet" id="sy-meet">
  <h2 class="sy-headline sy-headline--section">Meet us</h2>

  <div class="sy-section__content">
    <p>
      Wir lieben es, Neues zu entdecken und Kontakte zu knüpfen. Dort sind wir demnächst:
    </p>

    <!--
    <div class="sy-meetups">
      <div class="sy-meetups__item">
        <div class="sy-meetups__date">
          <span class="sy-meetups__date-month">
            Apr
          </span>
          <span class="sy-meetups__date-day">
            22
          </span>
        </div>

        <div>
          <span>UX Meetup</span>
          <p>IXDS: Ipsum Dolor</p>
          <a href='#' class="sy-link">Details</a>
        </div>
      </div>

      <div class="sy-meetups__item">
        <div class="sy-meetups__date">
          <span class="sy-meetups__date-month">
            Apr
          </span>
          <span class="sy-meetups__date-day">
            22
          </span>
        </div>

        <div>
          <span>UX Meetup</span>
          <p>IXDS: Ipsum Dolor</p>
          <a href='#' class="sy-link">Details</a>
        </div>
      </div>
    </div>
  -->
    <p>
      Sie haben ein Event für uns, das wir nicht verpassen sollten?  Oder Sie hätten gerne, dass wir auf Ihrem einen Vortrag halten? Machen wir gerne.
      <a href='#' class="sy-link">Schreiben Sie uns.</a>
    </p>
  </div>
</section>