<div class="sy-navigation">
  <nav class="sy-navigation__list">
    <a class="sy-navigation__item" href='/#sy-what'>Angebot</a>
    <a class="sy-navigation__item" href='/#sy-why'>Versprechen</a>
    <a class="sy-navigation__item" href='/#sy-contact'>Kontakt</a>
  </nav>

  <div class="sy-planet">
    <div class="sy-planet__orbiter"></div>
  </div>

  <!-- <div class="sy-navigation__language-list">
    <a href="/en">EN</a>
  </div> -->

  <div class="sy-navigation__bar">
    <div class="sy-navigation__bar-block"></div>
  </div>

  <div class="sy-navigation__bottom-border"></div>
</div>
