<section class="sy-section">
  <h2 class="sy-headline sy-headline--section">Office</h2>

  <div class="sy-section__content">
    <a href="https://goo.gl/maps/oiTLtfp9LgR2" rel="noopener" target="_blank" class="sy-google-maps">
      <img class="sy-image sy-image--full-width" alt="" src="../../assets/images/office-map.png">
      <div class="sy-google-maps__info">In Maps öffnen</div>
    </a>
    <div class="sy-spacer"></div>

    <div class="sy-grid sy-grid--two-cols">
      <div class="sy-column">
        <div class="sy-address">
          <strong>Satellytes GmbH</strong><br>
          Landwehrstraße 79a<br>
          80336 München<br>
          Tel. +49 89 45678912<br>
        </div>
      </div>

      <div class="sy-column">
        <a class="sy-link" href="https://goo.gl/maps/oiTLtfp9LgR2" rel="noopener" target="_blank">
          In Maps öffnen
        </a>
      </div>
    </div>
  </div>
</section>
