<section class="sy-section sy-landingpage__what" id="sy-what">
  <header class="sy-header">
      <!--<span class="sy-header__tagline">WIR BIETEN NUR AN, WAS WIR BESONDERS GUT KÖNNEN.</span>-->
      <h2 class="sy-headline sy-headline--section">Wir bieten nur an, was wir besonders gut können.</h2>

  </header>

  <div class="sy-section__content">
    <h3 class="sy-headline sy-headline--content">Full Stack Digital Services</h3>
    <p>
      Bei Satellytes dreht sich alles um die Optimierung digitaler Services und Interfaces. Als Full-Stack-Agentur bieten wir Ihnen den gesamten Prozess von der Ideation bis zur Implementierung – vom ersten perfomanten Funnel bis zur letzten Zeile Code. Auf gut deutsch:
    </p>

  </div>

  <div class="sy-section__content">
    <div class="sy-services">
      <div  class="sy-services__item">
        <h4 class="sy-services__headline">UX/UI</h4>
        <p class="sy-services__description">
          Mit rund 20 Jahren Erfahrung in der Konzeption und Umsetzung digitaler Interfaces kennen und können wir das gesamte Spektrum der User Experience (UX). Der kleine, sichtbare Teil davon ist das User Interface (UI), der große unsichtbare (UX) jedoch viel relevanter für die Erreichung ihrer wirtschaftlichen Ziele. Denn nur mit benutzerfreundlichen, leicht verständlichen Journeys über alle Endgeräte, Nutzergruppen und Nutzungskontexte hinweg, erreichen die User – und somit Sie – ihr Ziel.
          </p>
      </div>

      <div  class="sy-services__item">
        <h4 class="sy-services__headline">Frontend</h4>
        <p class="sy-services__description">
          Unsere Lieblingsdings sind ... aber wir sind stets hungrig neue ... zu testen und uns anzueignen. Was immer das Beste für das Projekt ist ... und so weiter.
        </p>
      </div>

      <div  class="sy-services__item">
        <h4 class="sy-services__headline">Backend</h4>
        <p class="sy-services__description">
          Ohne einem ordentlichen Fundament ... Dazu beraten und realisieren wir ... und so weiter.
        </p>
      </div>

      <div  class="sy-services__item">
        <h4 class="sy-services__headline">Service Development</h4>
        <p class="sy-services__description">
          Oft versuchen Unternehmen ihre analogen Services eins zu eins zu digitalisieren. Oder sie orientieren sich am Wettbewerb und wollen alles was die anderen auch haben – nur um auf Nummer Sicher zu gehen. Vielleicht ist das aber gar nicht das, was ihre Nutzer wollen. Wir gehen gerne mit Ihnen den Weg ab dem ersten Schritt und erarbeiten Services, die zu Ihren KPIs und Kunden passen.        </p>
      </div>
    </div>
  </div>

  <div class="sy-section__content">
    <h3 class="sy-headline sy-headline--content">Das können andere besser</h3>
    <p>
      SEM, XR, E-Commerce, Werbung, Marketing, einfache Websites und vieles mehr. Durch unser breites und zuverlässges Netzwerk an Freelancern und Agenturen finden wir aber für alle Ihre Ansprüche immer eine perfekte Lösung. Beauftragen Sie uns und wir stellen Ihnen vollkommen transparent ein passendes Team zusammen.    </p>
  </div>

  <div class="sy-section__content">
    <h3 class="sy-headline sy-headline--content">Unsere Kunden</h3>
    <img class="sy-image" alt="" src="../../assets/images/clients.svg">
  </div>

  <div class="sy-section__content">
      <h3 class="sy-headline sy-headline--content">Und viele weiter:</h3>
    <p>
      Unsere Mitarbeiter haben vor ihrer Karriere bei Satellytes viele Jahre in anderen Agenturen oder als Freelancer gearbeitet. In dieser Zeit wurden Launches, Relaunches oder andere Großprojekte realisiert. Unter anderem für Kunden wie: Mercedes-Benz, Audi, MINI, Coca-Cola, Vitra, Swarovski, Glamour, Montblanc, O2, T-Mobile, Deutsche Post, P&S Reemtsma, Bacardi, Bogner, Siemens, Siemens Mobile, T-Online, Pritt, BMW, Mazda, Constantin Film, Esprit, etc.
    </p>
  </div>

</section>
