<section class="sy-section sy-landingpage__what" id="sy-what">
  <header class="sy-header">
    <h2 class="sy-headline sy-headline--section">What we do</h2>
    <span class="sy-header__tagline">Wir bieten nur an, was wir besonders gut können.</span>
  </header>

  <div class="sy-section__content">
    <h3 class="sy-headline sy-headline--content">Full Stack Digital Services</h3>
    <p>
      Satellytes ist eine Digital-Agentur, die um große Unternehmen kreist und ihnen bei der Transformation und Optimierung digitaler Services und Interfaces hilft. Wir bieten „Full Stack“ an, also den gesamten Prozess von Ideation bis zur Implementierung des letzten performanten Funnels und der letzten Zeile wunderschönen Codes. Auf gut deutsch:
    </p>
  </div>

  <div class="sy-section__content">
    <div class="sy-grid__row">
      <div  class="sy-services__item sy-grid__col-6">
        <h4 class="sy-services__headline">UX/UI</h4>
        <p class="sy-services__description">
          Mit rund 20 Jahren Erfahrung in der Konzeption und Umsetzung digitaler Interfaces kennen und können wir das gesamte Spektrum der User Experience (UX). Der kleine, sichtbare Teil davon ist das User Interface (UI), der große unsichtbare (UX) jedoch viel relevanter für die Erreichung ihrer wirtschaftlichen Ziele. Denn nur mit benutzerfreundlichen, leicht verständlichen Journeys über alle Endgeräte, Nutzergruppen und Nutzungskontexte hinweg, erreichen die User und somit Sie ihr Ziel.
        </p>
        <ul class="sy-list sy-list--dashed sy-list--margin-bottom-none">
          <li class="sy-list__item">Informationsarchitektur (und Navigation)</li>
          <li class="sy-list__item">Information/Content Design (Readability, Scanability, Consistency, Density, Sizes)</li>
          <li class="sy-list__item">User Interface Design (Atomic Design, Pattern Libraries)</li>
          <li class="sy-list__item">Interaction Design (Clarity, Ergonomy, Ease/Joy of Use)</li>
          <li class="sy-list__item">Brand Experience</li>
          <li class="sy-list__item">Accessibility (WAI)</li>
          <li class="sy-list__item">Loading-, Responsive-Strategien, Performance</li>
        </ul>
      </div>

      <div  class="sy-services__item sy-grid__col-6">
        <h4 class="sy-services__headline">Frontend</h4>
        <p class="sy-services__description">
          Angular, React, Vue, Node, Polymer, WebComponent, Redux, Atomic Design... - die Liste der Buzzwords nimmt kein Ende.
          Ständig tauchen neue Bibliotheken auf, die es sich zum Ziel gesetzt haben das Internet (zumindest teilweise) zu revolutionieren und somit sowohl Betrachtern als auch Entwicklern das Leben zu erleichtern.
          Viele dieser neuen Technologien verbinden ähnliche grundlegende Konzepte wie Modularität und Wiederverwendbarkeit, womit sich die zur Verfügung gestellten Instrumente der unterschiedlichen Technologien einander durchaus ähneln.
          Umso wichtiger ist es für uns den Überblick zu behalten und die Spreu vom Weizen zu trennen, um für Ihr Projekt genau diejenige Architektur wählen zu können, die eben jene Instrumente bietet die für Ihr Projekt benötigt werden.
          Dafür haben wir keine Scheu uns mit dem Modernsten des Modernen auseinanderzusetzen, ohne dabei die Produktionsreife eines Frameworks aus den Augen zu lassen.
        </p>
      </div>
    </div>
  </div>

  <div class="sy-section__content sy-section__content--margin-top-small">
    <div class="sy-grid__row">
      <div  class="sy-services__item sy-grid__col-6">
        <h4 class="sy-services__headline">Backend</h4>
        <p class="sy-services__description">
          Ohne einem ordentlichen Fundament ... Dazu beraten und realisieren wir ... und so weiter.
        </p>
      </div>

      <div  class="sy-services__item sy-grid__col-6">
        <h4 class="sy-services__headline">Service Development</h4>
        <p class="sy-services__description">
          Oft versuchen Unternehmen ihre analogen Services eins zu eins zu digitalisieren. Oder sie orientieren sich am Wettbewerb und wollen alles was die anderen auch haben – nur um auf Nummer sicher zu gehen. Vielleicht ist das aber gar nicht das was ihre Nutzer wollen? Wir gehen gerne mit Ihnen den Weg ab dem ersten Schritt und erarbeiten Services, die zu Ihren KPIs und Kunden passen.
        </p>
      </div>
    </div>
  </div>

  <div class="sy-section__content">
    <h3 class="sy-headline sy-headline--content">Das können andere besser</h3>
    <p>
      SEM, XR, E-Commerce, Werbung, Marketing, einfache Websites und vieles mehr. Durch unser breites und zuverlässiges Netzwerk an Freelancern und Agenturen finden wir aber für alle Ihre Ansprüche immer eine perfekte Lösung. Beauftragen Sie uns und wir stellen Ihnen vollkommen transparent ein passendes Team zusammen.
    </p>
  </div>

  <div class="sy-section__content">
    <h3 class="sy-headline sy-headline--content">Unsere Kunden</h3>
    <img class="sy-image" alt="" src="../../assets/images/clients.svg">
  </div>

  <div class="sy-section__content">
      <h3 class="sy-headline sy-headline--content">Und viele weiter:</h3>
    <p>
      Unsere Mitarbeiter haben vor ihrer Karriere bei Satellytes viele Jahre in anderen Agenturen oder als Freelancer gearbeitet. In dieser Zeit wurden Launches, Relaunches oder andere Großprojekte realisiert. Unter anderem für Kunden wie: Mercedes-Benz, Audi, MINI, Coca-Cola, Vitra, Swarovski, Glamour, Montblanc, O2, T-Mobile, Deutsche Post, P&S Reemtsma, Bacardi, Bogner, Siemens, Siemens Mobile, T-Online, Pritt, BMW, Mazda, Constantin Film, Esprit, etc.
    </p>
  </div>

</section>
