<section class="sy-section sy-landingpage__why" id="sy-why">
  <header class="sy-header">
    <h2 class="sy-headline sy-headline--section">Why us</h2>
    <span class="sy-header__tagline">WIR SIND AUF IHRER SEITE. UND AUF DER, DES NUTZERS.</span>
  </header>

  <div class="sy-section__content">
    <h3 class="sy-headline sy-headline--content">Transparent</h3>
    <p>
      Viele Agenturen schicken ihre besten Leute zum Kunden, im Hintergrund arbeiten aber dann ganz andere. Nicht bei uns: Die Leute, die sie kennenlernen, sind auch Ihr Team.
    </p>
  </div>

  <div class="sy-section__content">
    <h3 class="sy-headline sy-headline--content">Individuell & effizient</h3>
    <p>
      Wir empfehlen Ihnen die Lösung, die für Ihr Unternehmen und für Ihre Nutzer am sinnvollsten ist – nicht das, was wir am besten verkaufen können, weil wir es schon in der Schublade haben. Trotzdem versuchen wir immer einen möglichst wirtschaftlichen Weg zu finden, Ihr Projekt zu realisieren.
    </p>
  </div>
  <div class="sy-section__content">
    <h3 class="sy-headline sy-headline--content">Nachhaltig</h3>
    <p>
      Seien Sie sicher, dass es unser oberstes Ziel ist, fehlerfreie und sicherste Services zu realisieren, die nicht in einem Jahr schon wieder überholt werden müssen. Dazu testen wir jeden neuen Prototypen und Release und dokumentieren und veröffentlichen dann stets alles in wiederverwendbaren und erweiterbaren Pattern Libraries.
    </p>
  </div>
  <div class="sy-section__content">
    <h3 class="sy-headline sy-headline--content">Up to date</h3>
    <p>
      Wir wissen was geht. Wir kennen jeden neuen Trend, jedes neue Tool und Framework. Wir arbeiten immer nach den neusten Standards und stellen trotzdem gleichzeitig sicher, dass alle Ihre Kunden mit jedem ihrer Endgeräte das bestmögliche Nutzererlebnis haben.
    </p>
  </div>
</section>
