<section class="sy-section sy-landingpage__why" id="sy-why">
  <header class="sy-header">
    <h2 class="sy-headline sy-headline--section">Why us</h2>
    <span class="sy-header__tagline">We’re on your side – and the customer’s.</span>
  </header>

  <div class="sy-section__content">
    <h3 class="sy-headline sy-headline--content">We work with passion</h3>
    <p>
      Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus.
    </p>
  </div>

  <div class="sy-section__content">
    <h3 class="sy-headline sy-headline--content">We do the right things and we do things right</h3>
    <p>
      Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Etiam porta sem malesuada magna mollis euismod. Fusce dapibus, tellus.
    </p>
  </div>
</section>