.google-map {
  height: 200px;
  width: 100%;
}

.sy-google-maps {
  position: relative;
  display: block;
  transition: transform .2s ease;

  &:hover {
    transform: scale(1.02);

    > .sy-google-maps__info {
      opacity: 1;
    }
  }

  .sy-google-maps__info {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .2s ease;
    white-space: nowrap;
  }
}

.sy-contact-form {
  position: relative;

  .sy-contact-form__submitt-button {
    position: relative;
    padding-left: 18px;
    text-align: left;

    &[disabled] {
      opacity: 1;
    }

    &.reset::after {
      transition: none;
      transform: translateX(-100%);
    }
  }

  &.is-submitting {
    position: relative;

    .sy-contact-form__submitt-button {

      &::before {
        background-color: #52cc8f;
      }

      &::after {
        transform: translateX(0);
        background-color: sycolor(success);
        transition: transform 2s ease;
      }
    }
  }

  &.is-successful {

    .sy-contact-form__submitt-button {

      &::after {
        transform: translateX(0);
        background-color: sycolor(success);
      }
    }
  }

  .checkmark-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../assets/images/checkmark.png);
    background-size: contain;
    margin-right: 4px;
  }
}
