.google-map {
  height: 200px;
  width: 100%;
}

.sy-contact-form {
  position: relative;

  .sy-contact-form__submitt-button {
    position: relative;
    padding-left: 18px;
    text-align: left;

    &[disabled] {
      opacity: 1;
    }

    &.reset::after {
      transition: none;
      transform: translateX(-100%);
    }
  }

  &.is-submitting {
    position: relative;

    .sy-contact-form__submitt-button {

      &::before {
        background-color: #52cc8f;
      }

      &::after {
        transform: translateX(0);
        background-color: sycolor(success);
        transition: transform 2s ease;
      }
    }
  }

  &.is-successful {

    .sy-contact-form__submitt-button {

      &::after {
        transform: translateX(0);
        background-color: sycolor(success);
      }
    }
  }
}
