.sy-intro {
  height: calc(100vh - 60px);
  margin-left: -20px;
  margin-right: -20px;
  animation: 3s cubic-bezier(0.5, 0.1, 0.37, 0.97) scale-in-logo forwards;
  transform: scale(0.85);
}

.sy-intro__compact {
  display: block;
  width: 100%;
  height: 100%;

  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.sy-intro__large {
  display: none;
  width: 100%;
  height: 100%;

  @include media-breakpoint-up(sm) {
    display: block;
  }
}

.sy-intro__svg {
  display: block;
  width: 100%;
  height: 100%;
}

.planet__orbiter {
  transform-origin: 150px -150px;
  animation: 10s infinite linear orbit;
}

@keyframes orbit {
  0% {
    transform: rotateZ(30deg);
  }
  100% {
    transform: rotateZ(-20deg);
  }
}

@keyframes scale-in-logo {
  to {
    transform: scale(1);
  }
}
