.sy-intro {
  height: calc(100vh - 100px);
  min-height: 200px;
  max-height: 60vh;
  margin-left: -20px;
  margin-right: -20px;
}

.sy-intro__compact {
  display: block;
  width: 100%;
  height: 100%;

  @include media-breakpoint-up(sm) {
    display: none;
  }
}

.sy-intro__large {
  display: none;
  width: 100%;
  height: 100%;

  @include media-breakpoint-up(sm) {
    display: block;
  }
}

.sy-intro__svg {
  display: block;
  width: 100%;
  height: 100%;
}

.planet__orbiter {
  transform-origin: 150px -150px;
  animation:  10s infinite linear orbit;
}

@keyframes orbit {
  0% {
    transform: rotateZ(30deg);
  }
  100% {
    transform: rotateZ(-20deg);
  }
}
