.sy-meetups {
  margin-top: $content-distance;
  margin-bottom: $content-distance;
  display: flex;
  flex-flow: row wrap;
}

.sy-meetups__item {
  display: flex;
  flex: 1 1 320px;
}

.sy-meetups__item:not(:first-child) {
  margin-top: 25px;
  @include media-breakpoint-up(sm) {
    margin-top: 0;
  }
}

.sy-meetups__date {
  padding: 5px;

  margin-right: 20px;

  background-color: sycolor(brand);
  border-radius: 5px;
  color: sycolor(dark);

  width: 5rem;
  height: 5rem;

  font-size: 1.5rem;
  font-weight: map-get($font-weights, bold);
}
