.sy-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  font-family: 'Coco Gothic';
}

.sy-navigation__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
  color: sycolor(dark);

  @include media-breakpoint-up(sm) {
    background-color: sycolor(dark);
    padding-left: $page-padding;
    padding-right: $page-padding;
    color: sycolor(white);
    justify-content: flex-start;
  }
}

.sy-navigation__language-list {
  position: absolute;
  display: none;
  line-height: 60px;
  top: 0;
  right: 20px;
  color: map-get($colors, brand);
  font-weight: 600;

  @include media-breakpoint-up(sm) {
    display: block;
  }
}

.sy-navigation__item {
  text-decoration: none;
  line-height: $nav-height;
  font-size: 1.6rem;
  font-weight: map-get($font-weights, normal);

  @include media-breakpoint-up(sm) {
    &:not(:first-child){
      margin-left: 20px;
    }
  }

  &.sy-navigation__item--active,
  &:hover {
    color: sycolor(brand);
  }
}

.sy-navigation__bar {
  position: absolute;
  bottom: 0;

  transition: transform 0.4s ease-out;
}

.sy-navigation__bar-block {
  height: 2px;
  width: 100px;
  background-color: sycolor(brand);
  transform: translate(-50%);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity .4s ease-out;
}

.sy-navigation__bottom-border {
  position: absolute;
  bottom: 0.5px;
  left: 0;
  right: 0;
  height: 1px;
  background-color: rgba(sycolor(brand), 0.2);
  z-index: 10;
}
