.sy-services__headline {
  font-size: 2rem;
  color: map-get($colors, brand);
}

.sy-services__item {
  display: block;
  margin: 0;

  background-repeat: no-repeat;
  background-size: auto auto;
  margin-bottom: 20px;

  @include media-breakpoint-up(md) {
    width: 90%;
    &:nth-child(odd) {
      margin-right: 10%;
    }

    &:nth-child(even) {
      margin-left: 10%;
      text-align: right;
    }
  }

  @include media-breakpoint-down(sm) {

    &:nth-child(odd) {
    }

    &:nth-child(even) {
      text-align: left;
    }
  }
}


.sy-services__item + .sy-services__item  {
  margin-top: 20px;
}
