.sy-services__headline {
  font-size: 1.7rem;
  color: map-get($colors, white);
  margin-bottom: 7px;
  font-weight: 600;
}

.sy-services__item {
  display: block;
}

.sy-services__item + .sy-services__item {
  margin-top: 40px;

  @include media-breakpoint-up(md) {
    margin-top: 0px;
  }
}
